[submodule "nipreps-book"]
	path = nipreps-book
	url = git@github.com:nipreps/nipreps-book.git
[submodule "dipy-tutorial"]
	path = dipy-tutorial
	url = git@github.com:MadeInShineA/dipy-tutorial.git
[submodule "dipy"]
	path = dipy
	url = git@github.com:MadeInShineA/dipy.git
[submodule "303.1-semester-project-presentation"]
	path = 303.1-semester-project-presentation
	url = git@github.com:MadeInShineA/303.1-semester-project-presentation.git
