/*-- scss:defaults --*/
:root {
  --r-main-font-size: 30px !important;
}
/*-- scss:rules --*/

figcaption, .caption {
  font-size: 0.5em !important;
  text-align: center;
}

section.smaller {
  font-size: inherit !important
}

.smaller h1 {
  font-size: 1.6em !important;
}

.aside-footnotes {
  font-size: 0.7em !important;
}
